<!DOCTYPE html>
<meta charset="utf-8">
<title>Application</title>
<link href="<%= stylesheet_path "application" %>" rel="stylesheet">
<script src="<%= javascript_path "application" %>"></script>
<div class="container">
  <%= yield %>
</div>
